<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULARIO</title>
</head>
<body>

<div class="container" >
    <div class="row p-4">
        <div class="col-2 bg-success text-center p-4">
          <button type="button" class="btn btn-primary">Insertar tarea</button>
          <br><br><br>
          <button type="button" class="btn btn-primary">Visualizar tarea</button>
        </div>

        <div class="col-10 border mb-4">

            <div class="col-6">
                <h3>LISTA DE TAREAS </h3>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">ID</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="INGRESE ID">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">NOMBRE</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="INGRESE NOMBRE">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">DESCRIPCION</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea><br>
                <button type="button" class="btn btn-primary">Guardar</button>
              </div>
        </div>
    </div>
</div>





    
</body>
</html>
